<div>
    <div>
        <img src="{{this.imageUrl}}" alt="{{this.name}}" />
        <div>
            <h1>{{this.name}}</h1>
            <h3>{{this.scientificName}}</h3>
            <h2>{{this.location}}</h2>
            <h2>{{this.dateOfSight}}</h2>


            <div>
                <a href="/birds/{{this._id}}">See more info</a>

                <a href="/birds/{{this._id}}/edit">Edit</a>
                <a href="/birds/{{this._id}}/delete">Delete</a>
              
            </div>

        </div>
    </div>
</div>