<div>
    <div>
        <img src="{{imageUrl}}" alt="{{this.name}}" />
        <div>
            <h1>{{this.name}}</h1>
            <h3>{{this.scientificName}}</h3>
            <h2>{{this.location}}</h2>
            <h2>{{this.dateOfSight}}</h2>


            <div>
                <a href="/birds/{{this._id}}">See more info</a>

                <a href="/birds/{{this._id}}/edit">Edit</a>
                <form action="/birds/{{this._id}}/delete" method="POST">
                    <button type="submit"> Delete</button>  
                </form>
            </div>

        </div>
    </div>
</div>