<nav class="navbar">
    <a href="/"><img src="/images/logo-ocre.png" style="height: 55px" alt="bird-e"> </a>
    <div class="menu"><a href="/create" class="add">Add Bird</a>
        <a href="/logout" class="logout">Logout</a>
    </div>
</nav>

<div class="card__container">
    <div class="card">
        <a href="/birds" class="btn draw-border">Back</a>
        <p class="card__name">{{this.name}}</p>
        <p class="scientific-name">{{this.scientificName}}</p>
        <img src="{{this.imageUrl}}" alt="{{this.name}}" class="card__image" />
        <div class="grid-container">
            <div class="grid-child-date">
                <img src="/images/pin-icon.png" class="icon__image">
                <b>Seen on: </b>{{this.dateOfSight}} </div>
            <div class="grid-child-location">
                <img src="/images/cam-icon.png" class="icon__image">
                {{this.location}}
            </div>
            <div class="grid-child-moreInfo">{{this.moreInfo}}</div>
        </div>
        <div>
            <a href="/birds/{{this._id}}/edit" class="btn">Edit</a>
            <a href="/birds/{{this._id}}/delete" class="btn">Delete</a>
        </div>
    </div>
</div>
</div>
</div>