<div class="details__container">
    <div class="details-card">
        <a href="/birds" class="btn-back">Back</a>
        <div class="title-card">
            <h3>{{this.name}}</h3>
            <h4>{{this.scientificName}}</h4>
        </div>
        <div class="img-container">
            <img src="{{this.imageUrl}}" alt="{{this.name}}" class="details__image" />
        </div>

        <div class="content-line">
            <span><img src="/images/cam-icon.png" class="icon__image"></span>
            <span class="inline-info">Seen on: {{this.dateOfSight}} </span>
            <hr />
        </div>
        <div class="content-line">
            <span><img src="/images/pin-icon.png" class="icon__image"></span>
            <span class="inline-info">{{this.location}}</span>
            <hr />
        </div>

        <div class="content-line">
            <span class="inline-moreInfo">{{this.moreInfo}}</span>
        </div>


        <div class="btn-details-container">
            <a href="/birds/{{this._id}}/edit" class="btn-details-edit">Edit</a>
            <form action="/birds/{{this._id}}/delete" method="POST">
                <button type="submit" class="btn-details-delete"> Delete</button>
            </form>
        </div>

    </div>
</div>